@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* *Common CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color : slateblue;
  --secondary-color : #fff;
}
button,
a,
ul {
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Urbanist", sans-serif;
  background-color: #121111;
  color: var(--secondary-color);
}
p {
  color: #999999;
}
img {
  max-width: 100%;
}
.container {
  width: min(100%, 1120px);
  margin: 0 auto;
}
.imgaes-stars{
  display: flex;
  padding-left: 5px;
}
/* *===========================
*======> Home Page
*============================== */

/*===================*/
/*FEATURED PROPERTIES*/
/*===================*/
.featured-properties {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}


.feature-content {
  margin-block: 1rem 2.5rem;
  padding: 0 10px;
}
.feature-content h2 {
  font-size: 2.5rem;
}
.feature-content p {
  
    margin-top: 1rem;
    color: #555;
    font-weight: 500;
    font-size: 1.2rem;
    
}
.property-cards {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 1.2rem;
}


.property-card {

  border: 1px solid #4444448e;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 49%);
}

.property-card img {
  transform: scale(1.05);
  border-radius: 15px;
  padding: 10px;
}



.property-info {
  padding: 1.3rem 0;

}

.property-info h3 {
  font-size: 1.7rem;
  color: #fff;
}

.property-info p {
  color: #bbb;
  font-size: 1.2rem;
  margin: 0.5rem 0 1rem;
}

.property-info a {
  color: #fff;
  text-decoration: underline;
}

.property-features {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 1rem;
  font-size: 1rem;
  color: #888;
  margin-bottom: 2rem;
}

.property-price {
  font-weight: bold;
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.property-button {
  /* width: 100%; */
  padding: 0.8rem;
  background-color: slateblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.property-button:hover {
  background-color: #7f5a15;
}

/*============*/
/* TESTIMONIAL*/
/*============*/
.testimonial {
  text-align: center;
  padding: 4rem 1.5rem;
  /* background-color: var(--color-dark); */
}

.testimonial h2 {
  font-size: 2.5rem;
  margin-block: 0.5rem;
  color: #fff;
  text-align: left;
}

.testimonial p {
  font-size: 1.1rem;
  color: #666;
 
  margin: 0 0  2rem;
}

.testimonial-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 1700px;
  margin: 0 auto;
}

.testimonial-card {
  /* background: var(--color-light-grey); */
  box-shadow: 0 4px 8px rgb(0 0 0 / 49%);
  border-radius: 8px;
  padding: 2rem;
  transition: transform 0.3s;
  border: 1px solid #333;
}

.testimonial-card:hover {
  transform: translateY(-5px);
}

.testimonial-info span {
  font-size: 1.2rem;
  color: #ffd700;
}

.testimonial-info h3 {
  font-size: 1.5rem;
  color: #fff;
  margin: 0.5rem 0 1rem;
}

.testimonial-info p {
  font-size: 1rem;
  /* color: var(--color-white); */
  line-height: 1.6;
}

.testimonial-profile {
  display: flex;
  /* align-items: center; */
  /* margin-top: 1.5rem; */
  gap: 1.1rem;
  color: #fff;
}

.testimonial-profile img {

  width: 50px;
  height: 50px;
  border-radius: 50%;
 
}

.profile h2 {
  font-size: 1.1rem;
  margin: 0;
}

.profile p {
  font-size: 0.9rem;
  color: #f9f9f9;
}


/* *===========================
*======> About Page
*============================== */

/* * Banner section style */
.banner-section {
  margin-bottom: 1.25rem;
  padding-block: 1.5625rem ;
}
.star {
  width: 1.5rem;
}
.star.bigger {
  width: 1.7rem;
}
.star.middle {
  width: 1.5rem;
  opacity: 0.6;
}
.star.small {
  width: 1.1rem;
  opacity: 0.25;
}
.journey {
  display: flex;
  gap: 1rem;
  color: var(--secondary-color);
}
.our-journey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-basis: 50%;
}
.content-journey h2 {
  font-weight: 600;
  font-size: 2.43rem;
  line-height: 190%;
  color:  var(--secondary-color);
}
.content-journey p {
  font-size: 1rem;
  /* font-weight: 400; */
  line-height: 1.5rem;
  color: #999999;
}
.customer-number {
  /* display: ; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-top: 20px;
  gap: 1rem;
}
.customer-number div {
  /* backdrop-filter: blur(20px); */
  background-color: rgba(139, 134, 134, 0.1);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #94919112;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.customer-number h3 {
  font-size: 1.5rem;
  margin-bottom: 7px;
}
.customer-number p {
  color: #999999;
  font-size: 1rem;
}
.journey-img {
  flex-basis: 48%;
}

/* * Our value style section */
.value {
  margin-block: 5rem;
}
.our-value-div {
  display: flex;
  gap: 3rem;
}
.value-text {
  flex-basis: 50%;
  color: var(--secondary-color);
  align-content: center;
}
.value-text h2 {
  font-size: 2.7rem;
  line-height: 160%;
  font-weight: 500;
  word-spacing: 5px;
}
.value-text p {
  color: #999999;
  line-height: 150%;
}
.Boxes {
  /* flex-basis: 60%; */
  border: 1px solid #45434354;
  border-radius: 20px;
  box-shadow: 0 0 10px 10px #4543433e;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 15px;
  gap: 2rem;
}
.box {
  padding: 10px;
  margin-bottom: 7px;
}
.Boxes .box img {
  width: 50px;
  height: 50px;
  border: 1px var(--primary-color) solid;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box:nth-child(odd) {
  border-right: 1px solid #5857579b;
}

.box p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 0.8rem;
  & span {
    font-size: 1.2rem;
    color:  var(--secondary-color);
    font-weight: 600;
  }
}

/*  ** Our Achievements style */
.our-Achiev {
  margin-block: 4rem;
}
.our-Achiev h2 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}
.our-Achiev p {
  font-size: 1.2rem;
  line-height: 150%;
}
.happy-clients {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.1rem;
  margin-top: 50px;
}
.happy-clients .client {
  border: 1px solid #3b3b3b71;
  box-shadow: 0 0 5px 3px #53525230;
  padding: 40px 30px;
  border-radius: 10px;
  & h3 {
    font-size: 1.4rem;
    margin-bottom: 15px;
  }
}
/* *Mobile device */
@media only screen and  (max-width: 768px) {


  /* *===========================
*======> Home Page
*============================== */


.property-cards {
  flex-direction: column;
}
.property-button{
  float: right;
}
.testimonial-cards {
  grid-template-columns: 1fr;
}
.testimonial {
  padding-inline: 10px;
}
.testimonial h2 {
  font-size: 2rem;
}

  /* *===========================
*======> About Page
*============================== */

    
  /* * Our Journey responsvei*/
   .journey {
       flex-direction: column-reverse;
   }
   .our-journey {
       padding: 0 12px;
   }
   .customer-number{
       grid-template-columns: repeat(2,1fr);
       text-align: center;
      
       & .customer3 {
           grid-column: 1/-1;
           grid-row: 2/3;
       } 
   }
   /* *Our Values responsvei */
   .our-value-div {
       flex-direction: column;
       padding: 0 10px;
       &  .Boxes {
           grid-template-columns: 1fr;
       }
   }
  
   .Boxes .box {
       border-right: none;
       border-bottom: 2px solid #5857579b;
       & .box:last-child{
           border-bottom: none;
        }
    }
    
    /* *Our Achievements responsive*/
    .our-Achiev {
       padding: 0 12px;
    }
    .happy-clients{
       grid-template-columns: 1fr;
    }
    
 
}

/* *==============
  *Contat Page style
  *=============== */
  /* * Contact section style */
.contact-section {
  margin-bottom: 1.25rem;
  padding: 1.5625rem 20px;
}

.contact-content h2 {
  font-weight: 600;
  font-size: 2.43rem;
  line-height: 190%;
  color:  var(--secondary-color);
}
.contact-content p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #999999;
}
/* * Form Contact and map style */
.contact-Form {
  margin-block: 4rem;
}
.forms-maps {
  display: flex;
  gap: 20px;
}
.form-contact {
  width: 100%;
}
.form-contact form {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(30, 30, 30, 0.3);
}
.form-contact label {
  font-size: 1.6rem;
  margin-bottom: 15px;
  display: block;
}
.form-contact input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  outline: none;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #333232;
  color:  var(--secondary-color);
  border: 1px solid rgba(66, 66, 66, 0.8);
}
.form-contact input:focus,
textarea:focus {
  border: 1px solid var(--primary-color);
  box-shadow: 0 0px 5px 2px var(--primary-color);
}
textarea {
  margin-top: 15px;
}
.btn {
  display: block;
  margin: 0 auto;
  padding: 15px;
  background-color: #703bf7;
  color:  var(--secondary-color);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: #582feba7;
  }
}


/* * location for map style */
.location {
  width: 100%;
  height: 620px;
}
.location iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* *======================
*=====>*Form Page style
*======================== */
.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0,0,0,0.7),rgba(0,0,0,0.5)), url("/Assets/img/home-with-lot-houses-background_956920-203819.avif");
  background-size: cover;
  background-position: center;
  padding: 0 10px;
}

.auth-container {
  background-color: rgba(0, 0, 0, 0.317);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  color:  var(--secondary-color);
  h1{
      text-align: center;
      margin-bottom: 20px;
  }
}
.auth-container input.empty {
  background-color: #333;
}
.auth-container input.filled {
  background-color:  var(--secondary-color);
  color: #333;
}
.auth-container input {
  width: 100%;
  display: block;
  padding: 10px;
  margin: 10px 0;
background-color: #444;
  border: 1px solid #444;
  color:  var(--secondary-color);
  border-radius: 5px;
  outline: none;
  &:hover {
      outline: 1px solid var(--primary-color);
  }
}

.auth-container button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.5s;
  &:hover{
    background-color: rgba(105, 90, 205, 0.699);
  }
}


.auth-container p {

  text-align: center;
  margin-top: 15px;
  a {
      color: white;
      text-decoration: underline;
      transition: text-decoration 0.5s ease-in-out;
      &:hover{
          text-decoration: underline;
      }
  }
}


/* *TABLET DEVICE */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

   .journey {
       flex-direction: column-reverse;
   }
   .our-journey {
       padding: 0 12px;
   }
   .customer-number{
       grid-template-columns: repeat(2,1fr);
       text-align: center;
      
       & .customer3 {
           grid-column: 1/-1;
           grid-row: 2/3;
       } 
   }
   /* *Our Values responsvei */
   .our-value-div {
       flex-direction: column;
       padding: 0 10px;
       &  .Boxes {
           grid-template-columns: repeat(2,1fr);
       }
   }
  
   .Boxes .box {
    
       border-bottom: none;
       & .box:last-child{
           border-right: 1px solid #ccc;
        }
    }
    
    /* *Our Achievements responsive*/
    .our-Achiev {
       padding: 0 12px;
    }
    .happy-clients{
       grid-template-columns: repeat(2,1fr);
    }
   
}