

header {
  border-bottom: 1px solid #3b3b3b71;
  padding: 10px 0;
}
/* ===============*/
/* NAVBAR STYLES */
/* ===============*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  font-size: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.logo .logo-title {
  font-weight: bold;
  color: #fff;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.nav-links {
  display: flex;
}
.nav-links li  a {
  color: #fff;
  padding: 10px 18px;
  transition: all 0.5s;
  display: block;
}

.nav-links li  a:hover {
  color: #ffffffb8;
  border-radius: 5px;
  background-color: #333;
}

.login-button {
  background-color: #333;
  padding: 10px 15px;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
}

.login-button:hover {
  background-color: #555;
}

/* =====================*/
/* HAMBURGER MENU ICON */
/* ====================*/
.hamburger {
  display: none;
  flex-direction: column;
  height: 30px;
  width: 40px;
  justify-content: space-between;
  position: absolute;
  top: 40px;
  right: 20px;
}

.hamburger .bar {
  height: 5px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar.active .hamburger .bar:nth-child(1) {
  transform: rotate(45deg) translate(7px, 10px);
  transition: all 0.5s ease-in-out;
}

.navbar.active .hamburger .bar:nth-child(2) {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.navbar.active .hamburger .bar:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -10px);
  transition: all 0.5s ease-in-out;
}

/* Responsvie Mobile and Tablet Togther all in one*/

@media (max-width: 1024px) {
  .hamburger {
    display: flex;
    font-size: 2.5rem;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 0;
    gap: 1.5rem;
    padding: 10px 18px;
  }
 
  .nav-links {
    flex-direction: column;
    width: 100%;
    height: 400px;
    padding: 0 7px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out, overflow 0.5s ease-out;
  }

  .nav-links li {
    width: 100%;
    margin-bottom: 5px;
    border-bottom: 1px solid #444;
  }
  .nav-links a {
    width: 100%;
    text-align: center;
  }
  .navbar.active .nav-links {
    max-height: 250px;
    opacity: 1;
    transition: all 0.5s ease-in;
  }
  .login-button {
    display: none;
    width: 100%;
    text-align: center;
    transition: all 0.5s ease-in-out;
  }
  .navbar.active .login-button {
    display: block;
    transition: all 0.5s ease-in-out;
  }
}
