/* ====================== */
/* IMPORT GOOGLE FONTS */
/* ====================== */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

/* ================*/
/* CSS VARIABLES */
/* ===============*/
:root {
  /* Font and Color Variables */
  --font-family: "Roboto", sans-serif;
  --color-white: #fff;
  --color-dark: #1a1a1a;
  --color-wheat: wheat;
  --color-light-grey: #555;
  --color-blue: #007bff;

  /* Shadow and Transition Variables */
  --shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  --transition: all 0.3s ease;

  /* Font Size Variables */
  --font-size-h1-large: 4rem;
  --font-size-h1-medium: 3rem;
  --font-size-h1-small: 2.5rem;
  --font-size-p-large: 20px;
  --font-size-p-medium: 1.5rem;
  --font-size-p-small: 1rem;
}
.container {
  width: min(90%,1120px);
}
/* ============*/
/* CSS RESET */
/* ============*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ===============*/
/* BASIC STYLING */
/* ===============*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: var(--color-white);
  background: var(--color-dark);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

img {
  max-width: 100%;
  display: block;
}

/* ===========*/
/* CONTAINER */
/* ==========*/
.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 20px;
}



/* ==============*/
/* HERO SECTION */
/* =============*/
.hero-section {
  padding: 40px 20px;
  background-color: var(--color-dark);
  border-radius: 2px;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

.hero-content h1 {
  font-size: var(--font-size-h1-large);
  line-height: 1.2;
}

.hero-content p {
  margin-top: 1rem;
  font-weight: 500;
  font-size: var(--font-size-p-large);
  color: var(--color-light-grey);
}

.hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image img {
  width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 10px;
}

/* ========================*/
/* CONTENT REVIEW SECTION */
/* ========================*/
.content-review {
  max-width: 1723px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 5rem auto;
  gap: 10px;
}

.content-count {
  flex: 1 1 220px;
  border-radius: 10px;
  text-align: center;
  background: var(--color-dark);
  box-shadow: var(--shadow);
  padding: 20px;
  transition: var(--transition);
}

.content-count:hover {
  transform: scale(1.05);
}

.content-count span {
  display: block;
}

.review-count-number {
  margin-top: 16px;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-blue);
}

.review-feelings {
  font-size: 1.2rem;
  color: var(--color-light-grey);
}

/*===================*/
/*FEATURED PROPERTIES*/
/*===================*/
.featured-properties {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.property-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 9.2rem;
}

#featured-header {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 5rem;
}

#featured-paragraph {
  text-align: center;
  margin-top: 1rem;
  color: #555;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.property-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 450px;
  height: 450px;
  transition: transform 0.3s;
}

.property-card:hover {
  transform: scale(1.05);
}

.property-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.property-info {
  padding: 1.3rem 0;
}

.property-info h3 {
  font-size: 1.7rem;
  color: #fff;
}

.property-info p {
  color: #bbb;
  font-size: 1.2rem;
  margin: 0.5rem 0 1rem;
}

.property-info a {
  color: wheat;
  text-decoration: none;
}

.property-features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.3rem;
  color: #888;
  margin-bottom: 1rem;
}

.property-price {
  font-weight: bold;
  color: wheat;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.property-button {
  width: 100%;
  padding: 0.8rem;
  background-color: #86611a;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.property-button:hover {
  background-color: #7f5a15;
}

/*============*/
/* TESTIMONIAL*/
/*============*/
.testimonial {
  text-align: center;
  padding: 4rem 1.5rem;
  background-color: var(--color-dark);
}

.testimonial h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-white);
}

.testimonial p {
  font-size: 1.1rem;
  color: #666;
  max-width: 600px;
  margin: 0 auto 3rem;
}

.testimonial-cards {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 3rem;
  max-width: 1700px;
  margin: 0 auto;
}

.testimonial-card {
  background: var(--color-light-grey);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 2rem;
  transition: transform 0.3s;
}

.testimonial-card:hover {
  transform: translateY(-5px);
}

.testimonial-info span {
  font-size: 1.2rem;
  color: #ffd700;
}

.testimonial-info h3 {
  font-size: 1.5rem;
  color: var(--color-white);
  margin: 0.5rem 0 1rem;
}

.testimonial-info p {
  font-size: 1rem;
  color: var(--color-white);
  line-height: 1.6;
}

.testimonial-profile {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.testimonial-profile img {
  margin-top: -45px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.profile h2 {
  font-size: 1.1rem;
  margin: 0;
  color: var(--color-dark);
}

.profile p {
  font-size: 0.9rem;
  color: #f9f9f9;
}

/*----------------------*/
/* MEDIA QUERIES SECTION*/
/*----------------------*/


@media (max-width: 768px) {

  .hero-content {
    margin-top: 0;
  }

  .hero-content p {
    margin-top: 1.3rem;
    font-size: var(--font-size-p-small);
  }
  .property-cards {
    flex-direction: column;
    align-items: center;
  }

  .hero-content h1 {
    font-size: var(--font-size-h1-small);
    margin-top: 1rem;
  }

  .hero-content p {
    font-size: var(--font-size-p-small);
  }

  .hero-image {
    order: -1;
  }

  .hero-image img {
    max-height: 60vh;
  }
  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 0.9rem;
    padding: 0 1rem;
  }

  .property-card {
    width: 90%;
  }
}

/*===============*/
/*02-MEDIA QUERY*/
/*===============*/
@media (max-width: 1024px) {
  .hero-content h1 {
    font-size: var(--font-size-h1-medium);
  }

  .hero-content p {
    font-size: var(--font-size-p-medium);
  }

  .hero-image img {
    max-height: 60vh;
    object-fit: cover;
  }
}

/*===============*/
/*03-MEDIA QUERY*/
/*===============*/
@media (min-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr 1fr;
  }

  .hero-image img {
    max-height: 100%;
  }
  .testimonial-cards {
    grid-template-columns: 1fr 1fr;
  }
}
/*===============*/
/*04-MEDIA QUERY*/
/*===============*/
@media (min-width: 1024px) {
  .testimonial-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*===============*/
/*05-MEDIA QUERY*/
/*===============*/
@media (min-width: 768px) and (max-width: 1024px) {
  .content-review {
    flex-direction: row;
    justify-content: space-between;
  }

  .content-count {
    flex: 1 1 calc(33.333% - 10px);
  }
}

/*===============*/
/*06-MEDIA QUERY*/
/*===============*/
@media (min-width: 1588px) {
  .hero-content h1 {
    font-size: 3.5rem;
  }

  .hero-content p {
    font-size: var(--font-size-p-medium);
  }
}

/*===============*/
/*07-MEDIA QUERY*/
/*===============*/
@media (max-width: 768px) {
  .property-cards {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 2rem;
  }

   p {
    font-size: 0.9rem;
    padding: 0 1rem;
  }

  .property-card {
    width: 90%;
  }
  .testimonial-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    max-width: 1700px;
    margin: 0 auto;
  }
}
