* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  
  .layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7),rgba(0,0,0,0.5)), url("/html/About_html/img/home-with-lot-houses-background_956920-203819.avif");
    background-size: cover;
    background-position: center;
    padding: 0 10px;
  }
  
  .auth-container {
    background-color: rgba(0, 0, 0, 0.317);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    color: white;
    h1{
        text-align: center;
        margin-bottom: 20px;
    }
  }
  .auth-container input.empty {
    background-color: #333;
  }
  .auth-container input.filled {
    background-color: #fff;
    color: #333;
  }
  .auth-container input {
    width: 100%;
    display: block;
    padding: 10px;
    margin: 10px 0;
 
    border: 1px solid #444;
    color: white;
    border-radius: 5px;
    outline: none;
    &:hover {
        outline: 1px solid slateblue;
    }
  }
 
  .auth-container button {
    width: 100%;
    padding: 10px;
    background-color: slateblue;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.5s;
    &:hover{
      background-color: rgba(105, 90, 205, 0.699);
    }
  }
  
  
  .auth-container p {

    text-align: center;
    margin-top: 15px;
    a {
        color: white;
        text-decoration: underline;
        transition: text-decoration 0.5s ease-in-out;
        &:hover{
            text-decoration: underline;
        }
    }
  }
  
  
 
  