/*^ IMPORT GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*^ CSS RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*^ BASIC STYLING CSS */
body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background: #1a1a1a;
  cursor: pointer;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
  display: block;
}

/*^ NAV BARS */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 120px;
  background: #1a1a1a;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.logo .logo-title {
  font-weight: bold;
  color: wheat;
}

.logo img {
  width: 60px;
  height: 60px;
}

.nav-links {
  display: flex;
  gap: 5rem;
}

.nav-links a:hover {
  color: wheat;
}

.login-button {
  background-color: #333;
  padding: 10px 15px;
  border-radius: 7px;
  border: none;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.login-button:hover {
  background-color: #555;
}

/*^ HERO SECTION */
.hero-section {
  display: grid;
  padding: 2rem;
  background-color: #1a1a1a;
  border-radius: 2px;
  padding: 40px 120px;
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero-content h1 {
  margin-top: 10rem;
  width: 768px;
  height: 144px;
  line-height: 4rem;
  font-size: 4rem;
}

.hero-content p {
  margin-top: 5rem;
  width: 758px;
  height: 54px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #555;
}

.content-review {
  display: flex;
  width: 735px;
  height: 100px;
  margin-top: 5rem;
  gap: 10px;
}

.content-count {
  flex: 1;
  border-radius: 10px;
  text-align: center;
  background: #1a1a1a;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}
.content-count:hover{
  transform: scale(1.05);
}

.content-count span {
  display: block;
}

.review-count-number {
  margin-top: 16px;
  font-size: 2rem;
  font-weight: bold;
  color: #007bff;
}

.review-feelings {
  font-size: 1.2rem;
  color: #555;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

/*^FEATURED PROPERTIES */
.featured-properties {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.property-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 9.2rem;
}

#featured-header {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 5rem;
}

#featured-paragraph {
  text-align: center;
  margin-top: 1rem;
  color: #555;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.property-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 450px;
  height: 450px;
  transition: transform 0.3s;
}

.property-card:hover {
  transform: scale(1.05);
}

.property-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.property-info {
  padding: 1.3rem 0; /*In responsive make it none */
}

.property-info h3 {
  font-size: 1.7rem;
  color: #fff;
}

.property-info p {
  color: #bbb;
  font-size: 1.2rem;
  margin: 0.5rem 0 1rem;
}

.property-info a {
  color: wheat;
  text-decoration: none;
}