@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* CSS Reseting */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Basic Styling */

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background: #1a1a1a;
  cursor: pointer;
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
}

/* Navigation Bar */
.navbar {
  width: 1920px;
  height: 99px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 120px;
  background: #1a1a1a;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  /* position: sticky; */
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
.logo .logo-title {
  font-weight: bold;
  color: wheat;
}
.logo img {
  width: 60px;
  height: 60px;
}
.nav-links {
  display: flex;
  gap: 3.5rem;
}

.nav-links a:hover {
  color: wheat;
}

.login-button {
  background-color: #333;
  padding: 10px 15px;
  border-radius: 7px;
  border: none;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.login-button:hover {
  background-color: #555;
}

/* Hero Section */
.hero-section {
  display: grid;
  padding: 2rem;
  background-color: #1a1a1a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 40px 120px;
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero-content h1 {
  margin-top: 10rem;
  width: 768px;
  height: 144px;
  line-height: 4rem;
  font-size: 4rem;
}

.hero-content p {
  margin-top: 5rem;
  width: 758px;
  height: 54px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #555;
}

.content-review {
  display: flex;
  width: 735px;
  height: 100px;
  margin-top: 5rem;
  gap: 10px;
}
.content-count {
  flex: 1;
  border-radius: 10px;
  text-align: center;
  background: #1a1a1a;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}