/* IMPORT GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

/* CSS VARIABLES */
:root {
    /* Font and Color Variables */
    --font-family: "Roboto", sans-serif;
    --color-white: #fff;
    --color-dark: #1a1a1a;
    --color-wheat: wheat;
    --color-light-grey: #555;
    --color-blue: #007bff;
    
    /* Shadow and Transition Variables */
    --shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    --transition: all 0.3s ease;

    /* Font Size Variables */
    --font-size-h1-large: 4rem;
    --font-size-h1-medium: 3rem;
    --font-size-h1-small: 2.5rem;
    --font-size-p-large: 20px;
    --font-size-p-medium: 1.5rem;
    --font-size-p-small: 1rem;
}

/* CSS RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BASIC STYLING */

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    color: var(--color-white);
    background: var(--color-dark);
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

img {
    max-width: 100%;
    display: block;
}

/* CONTAINER */
.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 20px;
}

/* NAVBAR STYLES */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: var(--color-dark);
  font-size: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.logo .logo-title {
  font-weight: bold;
  color: var(--color-wheat);
}

.logo img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex: 1;
}

.nav-links a:hover {
  color: var(--color-wheat);
}

.login-button {
  background-color: #333;
  padding: 10px 15px;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: var(--transition);
}

.login-button:hover {
  background-color: #555;
}
/* HAMBURGER MENU ICON */
.hamburger {
  display: none;
  font-size: 2rem;
  color: var(--color-wheat);
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 4px;
  width: 30px;
  background-color: var(--color-wheat);
  margin: 6px auto;
  transition: var(--transition);
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 8px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -8px);
}


/* HERO SECTION */
.hero-section {
  display: grid;
  padding: 2rem;
  background-color: #1a1a1a;
  border-radius: 2px;
  padding: 40px 120px;
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero-content h1 {
  margin-top: 10rem;
  width: 768px;
  height: 144px;
  line-height: 4rem;
  font-size: 4rem;
}

.hero-content p {
  margin-top: 5rem;
  width: 758px;
  height: 54px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #555;
}

.content-review {
  display: flex;
  width: 735px;
  height: 100px;
  margin-top: 5rem;
  gap: 10px;
}

.content-count {
  flex: 1;
  border-radius: 10px;
  text-align: center;
  background: #1a1a1a;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}
.content-count:hover{
  transform: scale(1.05);
}

.content-count span {
  display: block;
}

.review-count-number {
  margin-top: 16px;
  font-size: 2rem;
  font-weight: bold;
  color: #007bff;
}

.review-feelings {
  font-size: 1.2rem;
  color: #555;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

/*^FEATURED PROPERTIES */
.featured-properties {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.property-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 9.2rem;
}

#featured-header {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 5rem;
}

#featured-paragraph {
  text-align: center;
  margin-top: 1rem;
  color: #555;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.property-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 450px;
  height: 450px;
  transition: transform 0.3s;
}

.property-card:hover {
  transform: scale(1.05);
}

.property-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.property-info {
  padding: 1.3rem 0; /*In responsive make it none */
}

.property-info h3 {
  font-size: 1.7rem;
  color: #fff;
}

.property-info p {
  color: #bbb;
  font-size: 1.2rem;
  margin: 0.5rem 0 1rem;
}

.property-info a {
  color: wheat;
  text-decoration: none;
}

.property-features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.3rem;
  color: #888;
  margin-bottom: 1rem;
}

.property-price {
  font-weight: bold;
  color: wheat;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.property-button {
  width: 100%;
  padding: 0.8rem;
  background-color: #86611a;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.property-button:hover {
  background-color: #7f5a15;
}

/*^TESTOMONIAL */
.testimonial {
  padding: 40px 120px;
}

.testimonial h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 5rem;
}

.testimonial p {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 1.6rem;
  margin-top: 0.7rem;
  color: #555;
  font-weight: 500;
}

.testimonial-cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 8px;
  max-width: 350px;
  text-align: left;
}

.testimonial-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.testimonial-info span {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  display: block;
  color: #ffcc00;
}

.testimonial-info h3 {
  font-size: 1.4rem;
  color: #ffffff;
}

.testimonial-info p {
  font-size: 1rem;
  color: #aaa;
  margin-bottom: 1rem;
  text-align: ju;
}

.testimonial-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.testimonial-profile img {
  margin-top: -15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  margin-right: 300px;
}

.profile h2 {
  font-size: 1rem;
  margin: 0;
}

.profile p {
  font-size: 0.8rem;
  color: #bbb;
}

/* Responsive Design */
@media (min-width: 768px) {
  .testimonial-card {
    flex-direction: row;
    align-items: flex-start;
    max-width: 500px;
  }

  .testimonial-info {
    flex-direction: column;
    text-align: left;
  }
}



/* Responsive Design */
@media (max-width: 768px) {
  .property-cards {
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 0.9rem;
    padding: 0 1rem;
  }

  .property-card {
    width: 90%;
  }
}




