@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS Reseting */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Basic Styling */

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background: #1a1a1a;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
}

/* Navigation Bar */
.navbar {
  width: 1920px;
  height: 99px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 120px;
  background: #1a1a1a;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
}

.logo{
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
.logo .logo-title{
  font-weight: bold;
  color: wheat;
}
.logo img{
  width: 60px;
  height: 60px;
}
.nav-links {
  display: flex;
  gap: 3.5rem;
}

.nav-links a:hover {
  color: wheat;
}